/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.search-field {
	border: 1px solid gray;
	padding: 7px;
	width: 230px;
	height: 20px;
	font-size: 16px;
	border-radius: 5px;
}
.btn-search {
	border: none;
	padding: 10px 15px 10px 15px;
	background-color: gray;
	color: white;
	text-shadow: 2px 0px 0px solid black;
	border-radius: 5px;
}
.no-result	{
	color: red;
	font-size: 16px;
}
.params-search {
	color: black;
	font-size: 16px;
	font-weight: bold;
}